body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1d3557;
}


.container {
    background-color: #1d3557;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-areas: 
        "ui1 ui2 ui3"
        "ui4 game-board ui6"
        "ui7 ui8 ui9";
}

#ui2 {
    font-size: 2.5vmin;
    grid-area: ui2;
    color: blanchedalmond;
    display: flex
}


#game-board {
    background-color: #001219;
    grid-area: game-board;
    display: grid;
    /* grid-template-rows: main.js;
    grid-template-columns: main.js; */
}

.snake {
    background-color: #f1faee;
    border: .5vmin solid #1d3557;
    border-radius: 1vmin;
}

.food {
    background-color: #f72585;
    border: 1vmin solid #7c0f35;
    border-radius: 2vmin;
}