body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1d3557;
}

#game-board {
    background-color: #001219;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    /* grid-template-rows: main.js;
    grid-template-columns: main.js; */
}

.snake {
    background-color: #f1faee;
    border: .5vmin solid #1d3557;
    border-radius: 1vmin;
}

.food {
    background-color: #f72585;
    border: 1vmin solid #7c0f35;
    border-radius: 2vmin;
}